.ThemeSwitcher {
  height: 70%;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.checkbox {
  &[type=checkbox] {
    height: 0;
    width: 0;
    position: absolute;
  }
}

.button {
  cursor: pointer;
  width: 70px;
  height: 100%;
  background: var(--theme-button-bg-color);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 70%;
    border-radius: 50%;
    transition: 0.3s;
    background-color: var(--theme-button-color);
    z-index: 1;
  }
}

.checkbox:checked + .button:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);

  background-color: transparent;
  box-shadow: inset 12px -7px 5px -5px var(--theme-button-color);
  border-radius: 50%;
}

.checkbox:checked:checked ~ .cloud {
  transform: translateY(200%);
}

.cloud {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 45px;
  height: 13px;
  right: 14px;
  top: 27px;
  z-index: 2;
  border-radius: 150px;
  transition: 0.3s;
  pointer-events: none
}

.cloud:after {
  content: "";
  background: rgb(255, 255, 255);
  position: absolute;
  width: 24px;
  height: 20px;
  border-radius: 50%;
  top: -16px;
  left: 21px;
}

.cloud:before {
  content: "";
  background: rgb(255, 255, 255);
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: -12px;
  right: 15px;
}