.LoginForm {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: var(--font-size-xl);
  margin-bottom: 25px;
  font-weight: bold;
}
