.size-s {
  font: var(--font-s);
}

.size-m {
  font: var(--font-m);
}

.size-l {
  font: var(--font-l);
}

.size-xl {
  font: var(--font-xl);
}

.title {
  font: var(--font-l);
  font-weight: bold;
}

.primary {
  .title {
    color: var(--primary-color);
  }
}

.error {
  .text {
    color: var(--error-color);
  }
}
