.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: var(--bg-color);
  border-radius: var(--border-radius);
  z-index: 2;
  padding: 20px;
  opacity: 0;
  transition: var(--transition);
}

.showModal {
  opacity: 1;
  transform: translate(-50%, -50%);
}
