.Button {
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition);
  text-align: center;
}

.filled {
  background: var(--primary-accent-color);
  color: var(--bg-color);

  &:hover {
    background: var(--primary-accent-color-hover);
  }
}

.contour {
  color: var(--primary-accent-color);
  box-shadow: inset 0 0 0 2px var(--primary-accent-color);

  &:hover {
    color: var(--bg-color);
    background: var(--primary-accent-color);
  }
}

.size-s {
  font-size: var(--font-size-s);
  padding: 4px 16px;
}

.size-m {
  font-size: var(--font-size-m);
  padding: 8px 24px;
}

.size-l {
  font-size: var(--font-size-l);
  padding: 12px 32px;
}

.size-xl {
  font-size: var(--font-size-xl);
  padding: 16px 40px;
}


