.SideBar {
  height: calc(100vh - var(--navbar-height));
  background: var(--bg-color);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transition: var(--transition);
  width: var(--side-bar-width-collapsed);
  position: relative;

  .body__itemText {
    transition: var(--transition);
    transform: translateY(150%);
  }
}

.active {
  width: var(--side-bar-width);

  .body__itemText {
    transform: translateY(0);
  }
}

.actions {
  position: absolute;
  bottom: 30px;
  display: flex;
  left: 50%;
  flex-direction: column;
  row-gap: 10px;
  transform: translateX(-50%)
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;

  &__item {
    border-radius: var(--border-radius);
    overflow: hidden;

    &:hover {
      background: var(--bg-color-hover);
      transition: var(--transition);

      path {
        fill: var(--primary-accent-color-hover);
        transition: var(--transition);
      }
    }

    &Icon {
      --icon-size: 40px;

      height: var(--icon-size);
      width: var(--icon-size);

      svg {
        height: var(--icon-size);
        width: var(--icon-size);

        path {
          fill: var(--primary-accent-color)
        }
      }
    }
  }
}

.appLink {
  display: flex;
  align-items: center;
  gap: 8px;
  max-height: 60px;
}
