.SideBar {
  height: calc(100vh - var(--navbar-height));
  background: var(--bg-color);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition: var(--transition);
  width: var(--side-bar-width-collapsed);
}

.active {
  width: var(--side-bar-width);
}