.Input {
  border-radius: var(--border-radius);
  padding: 7px 10px;
  transition: var(--transition);

  &:focus {
    border-color: var(--primary-accent-color);
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.error {
  padding: 10px 0;
}

.primary {
  border: 1px solid var(--primary-accent-color-discolored);
}

.bottomBorder {
  border-bottom: 2px solid var(--primary-accent-color-discolored);
}
