.dark {
  --bg-color: #252524;
  --bg-color-hover: #3a3a38;
  --inverted-bg-color: #E0E2DC;

  --primary-color: #E0E2DC;

  --primary-accent-color: #00A999;
  --primary-accent-color-hover: #01D2BD;

  --secondary-accent-color: #B17259;

  --theme-switcher-button-color: #F3D076;
  --theme-button-bg-color: #2f314f;
}
