.dark {
  --bg-color: #252524;
  --bg-color-hover: #3a3a38;
  --inverted-bg-color: #e0e2dc;

  --primary-color: #e0e2dc;

  --primary-accent-color: #00a999;
  --primary-accent-color-hover: #01d2bd;
  --primary-accent-color-discolored: #7caba5;

  --secondary-accent-color: #b17259;

  --theme-switcher-button-color: #f3d076;
  --theme-button-bg-color: #2f314f;
}
