.light {
  --bg-color: #eee;
  --bg-color-hover: #dadada;
  --inverted-bg-color: #252524;

  --primary-color: #2d2f33;

  --primary-accent-color: #53524d;
  --primary-accent-color-hover: #101010;
  --primary-accent-color-discolored: #ababab;

  --secondary-accent-color: #9e1d27;

  --theme-switcher-button-color: #ecec19;
  --theme-button-bg-color: #a3bcf6;
}
