.app.light {
  --bg-color: #EEE;
  --inverted-bg-color: #252524;
  --primary-color: #2D2F33;
  --primary-accent-color: #53524D;
  --primary-accent-color-hover: #797570;
  --secondary-accent-color: #9E1D27;
  --theme-switcher-button-color: #ECEC19;
  --theme-button-bg-color: #A3BCF6;
}
