.Navbar {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color);
  transition: var(--transition);
  position: relative;
  z-index: 1;
  padding: 0 10px;

  &Item {
    font-weight: bold;
  }
}

.rightSection {
  display: flex;
  height: 100%;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
