.LoginModal {
  width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: var(--modal-content-padding)
}

.accountIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    height: 120px;
    width: 120px;

    & path {
      fill: var(--primary-accent-color);
    }
  }
}
