.Hamburger {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--transition);
  user-select: none;

  &.active {
    transform: rotate(45deg);

    & .top {
      stroke-dashoffset: -64px;
    }

    & .middle {
      transform: rotate(90deg);
    }

    & .bottom {
      stroke-dashoffset: -64px;
    }
  }

  &:hover {
    .line {
      transition: var(--transition);
      stroke: var(--primary-accent-color-hover);
    }
  }
}

.line {
  fill:none;
  transition: stroke-dasharray var(--transition), stroke-dashoffset var(--transition);
  stroke: var(--primary-accent-color);
  stroke-width:5.5;
  stroke-linecap:round;
}

.top {
  stroke-dasharray: 40 160;
}

.middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform var(--transition);
}

.bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform var(--transition), stroke-dashoffset var(--transition);
}
