.AppLink {
  padding: 10px;
  font-weight: bold;
  transition: var(--transition);

  &:hover {
    color: var(--primary-accent-color-hover);
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--primary-accent-color);
}
